Options -MultiViews
RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /index.html [L]

# Set default permissions
<FilesMatch ".(html|htm|js|css|svg|jpg|jpeg|png|gif|ico)$">
  Header set Access-Control-Allow-Origin "*"
</FilesMatch>